<%- include('../views/layouts/herader.ejs'); %>
<%- include('../views/layouts/nav.ejs'); %>

<% if (!contact) { %>
<h1>data tidak ditemukan</h1>
<% } else { %>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= contact.nama%></h5>
        <p class="card-text"><%= contact.email%></p>
        <a href="/contact" class="btn btn-primary">Back to List</a>
    </div>
</div>
<% }%>


<%- include('../views/layouts//footer.ejs'); %>